<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <h1>Registrati</h1>
                <form action="/auth/register" method="POST">
                    <div class="form-floating mb-3">
                        <input type="text" name="inputUser" id="user" placeholder="Username" class="form-control">
                        <label for="floatingInput">Username</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" name="inputPassword" id="pass" placeholder="Password" class="form-control">
                        <label for="floatingPassword">Password</label>
                    </div>
                    <div class="form-group mb-3">
                        <label for="role">Ruolo</label>
                        <select name="inputRole" id="role" class="form-control">
                            <option value="ADMIN">Amministratore</option>
                            <option value="USER" selected="selected">Utente</option>
                        </select>
                    </div>
                    <div class="d-grid">
                        <button class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2" type="submit">Registrati</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>





    <!-- <div class="form-group">
        <label for="user">Username</label>
        <input type="text" name="inputUser" id="user" placeholder="" class="form-control">
    </div>
    <div class="form-group">
        <label for="pass">Password</label>
        <input type="password" name="inputPassword" id="pass" placeholder="" class="form-control">
    </div>
    <div class="form-group">
        <label for="role">Ruolo</label>
        <select name="role" id="inputRole" class="form-control">
            <option value="ADMIN">Amministratore</option>
            <option value="USER">Utente</option>
        </select>
    </div> -->