<!-- mastehead con mess di error -->
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <h1><%= details %> </h1>
            </div>
        </div>
    </div>
</header>