<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <h1>Accedi</h1>
                <form action="/auth/login" method="POST">
                    <div class="form-floating mb-3">
                        <input type="text" name="inputUser" id="user" placeholder="Username" class="form-control">
                        <label for="floatingInput">Username</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" name="inputPassword" id="pass" placeholder="Password" class="form-control">
                        <label for="floatingPassword">Password</label>
                    </div>
                    <div class="d-grid">
                        <button class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2" type="submit">Accedi</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>