<header>

    <!-- The header content -->
    <header class="masthead">
        
        <!-- This div is  intentionally blank. It creates the transparent black overlay over the video which you can modify in the CSS -->
        <div class="overlay"></div>

        <!-- The HTML5 video element that will create the background video on the header -->
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <source src="/assets/video2.mp4" type="video/mp4">
        </video>
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 text-center">
                    <h1 class="fw-bold" style="color: #bdb2b3;">Unlimited movies, TV shows, and more.</h1>
                    <p class="lead fw-bold" style="color: #bdb2b3;">Watch anywhere. Cancel anytime.</p>
                    
                    <div class="container px-4 px-lg-5 mt-5">
                        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                            <!-- card product -->
                            <div class="col mb-5">
                                <div class="card mycard bg-dark h-100 your-element" data-tilt data-tilt-scale="1.1">
                                    <!-- Product image-->
                                    <img class="card-img-top mycard-img" src="https://dummyimage.com/350x300/dee2e6/6c757d.jpg" alt="..." />
                                    <!-- Product details-->
                                    <div class="card-body p-4">
                                        <div class="text-center" style="color: #f3e2c4;">
                                            <!-- Product name-->
                                            <h5 class="fw-bolder" style="color: #f3e2c4;">Netflix</h5>
                                            <!-- Product price-->
                                            $40.00
                                        </div>
                                    </div>
                                    <!-- Product actions-->
                                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                        <div class="text-center"><a class="btn btn-outline-danger mt-auto" href="#">View options</a></div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col mb-5">
                                <div class="card mycard bg-dark h-100 your-element" data-tilt data-tilt-scale="1.1">
                                    <!-- Product image-->
                                    <img class="card-img-top mycard-img" src="https://dummyimage.com/350x300/dee2e6/6c757d.jpg" alt="..." />
                                    <!-- Product details-->
                                    <div class="card-body p-4">
                                        <div class="text-center" class="text-center" style="color: #f3e2c4;">
                                            <!-- Product name-->
                                            <h5 class="fw-bolder" style="color: #f3e2c4;">Disney+</h5>
                                            <!-- Product price-->
                                            $40.00
                                        </div>
                                    </div>
                                    <!-- Product actions-->
                                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                        <div class="text-center"><a class="btn btn-outline-danger mt-auto" href="#">View options</a></div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col mb-5">
                                <div class="card mycard bg-dark h-100 your-element" data-tilt data-tilt-scale="1.1">
                                    <!-- Product image-->
                                    <img class="card-img-top mycard-img" src="https://dummyimage.com/350x300/dee2e6/6c757d.jpg" alt="..." />
                                    <!-- Product details-->
                                    <div class="card-body p-4">
                                        <div class="text-center" class="text-center" style="color: #f3e2c4;">
                                            <!-- Product name-->
                                            <h5 class="fw-bolder" style="color: #f3e2c4;">Amazon Prime Video</h5>
                                            <!-- Product price-->
                                            $40.00
                                        </div>
                                    </div>
                                    <!-- Product actions-->
                                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                        <div class="text-center"><a class="btn btn-outline-danger mt-auto" href="#">View options</a></div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    


</header>