<!-- navigation navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-transparent shadow fixed-top">
    <div class="container">
        <a class="navbar-brand fw-bold fs-3" style="color: #dc3545;">SubStream</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item active">
                    <a class="nav-link fw-bold fs-4" style="color: #dc3545;" href="/">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link fw-bold fs-4" style="color: #dc3545;" href="/auth/register">Register</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link fw-bold fs-4" style="color: #dc3545;" href="/auth/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold fs-4" style="color: #dc3545;" href="/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold fs-4" style="color: #dc3545;" href="/addSubscription">Add Subscription</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold fs-4" style="color: #dc3545;" href="/orderList">Order List</a>
                </li>
            </ul>
        </div>
    </div>
</nav>