<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layouts/meta') %> 
    <title>Login</title>
</head>
    <body>
        <%- include('layouts/navbar') %> 
        <%- include('layouts/masthead_log') %> 
        <%- include('layouts/script') %> 
    </body>
</html>
