<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layouts/meta') %> 
    <title>Home</title>
</head>
<body>
    <%- include('layouts/navbar') %> 
    <%- include('layouts/masthead') %> 
    <%- include('layouts/script') %> 
</body>
</html>